html {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(https://upload.wikimedia.org/wikipedia/commons/9/94/View_of_Quinebaug_from_Butts_Bridge,_Canterbury,_CT.JPG);
  background-size: cover;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display:flex;
  /*flex:1;*/
  min-height: 100vh;
  align-items: center;
}

.clock {
  height: 30rem;
  width: 30rem;
  margin: 50px auto;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hour-hand {
  width:40%;
  height:6px;
  background:black;
  position: absolute;
  top:50%;
}

.min-hand {
  width:50%;
  height:6px;
  background:black;
  position: absolute;
  top:50%;
}

.sec-hand {
  width:30%;
  height:4px;
  background:black;
  position: absolute;
  top:50%;
}
